<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Recordid</th>
      <th>Vendorid</th>
      <th>Pickup datetime</th>
      <th>Dropoff datetime</th>
      <th>Passenger count</th>
      <th>Trip distance</th>
      <th>Store and fwd flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.recordid %></td>
        <td><%= trip.vendorid %></td>
        <td><%= trip.pickup_datetime %></td>
        <td><%= trip.dropoff_datetime %></td>
        <td><%= trip.passenger_count %></td>
        <td><%= trip.trip_distance %></td>
        <td><%= trip.store_and_fwd_flag %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
