<p id="notice"><%= notice %></p>

<p>
  <strong>Recordid:</strong>
  <%= @trip.recordid %>
</p>

<p>
  <strong>Vendorid:</strong>
  <%= @trip.vendorid %>
</p>

<p>
  <strong>Pickup datetime:</strong>
  <%= @trip.pickup_datetime %>
</p>

<p>
  <strong>Dropoff datetime:</strong>
  <%= @trip.dropoff_datetime %>
</p>

<p>
  <strong>Passenger count:</strong>
  <%= @trip.passenger_count %>
</p>

<p>
  <strong>Trip distance:</strong>
  <%= @trip.trip_distance %>
</p>

<p>
  <strong>Store and fwd flag:</strong>
  <%= @trip.store_and_fwd_flag %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
