<%= form_with(model: employee, local: true) do |form| %>
<div class="field">
    <%= form.label :'Employee ID:' %>
    <%= form.text_field :empid, id: :empid %>



    <%= form.label :'user name' %>
    <%= form.text_field :name, id: :employee_username %>



    <%= form.label :password %>
    <%= form.password_field :password, id: :password_field_tag %>
  </div>

  <div class="actions">
    <%= form.submit "Log In"%>
  </div>
<% end %>
