<p id="notice"><%= notice %></p>

<h5>Welcome To Yellow Taxi DBMS</h5>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= link_to 'Login', employees_login_path %></td>
        <td><%= link_to 'Register', new_employee_path %></td>
      </td>
      </tr>
      <tr>
        <td><%= link_to 'About', employees_about_path %></td>
        <td><%= link_to 'Contact', employees_contact_path %></td>
      </tr>
  </tbody>
</table>


<br>
