<p id="notice"><%= notice %></p>

<h1>Fares</h1>

<table>
  <thead>
    <tr>
      <th>Recordid</th>
      <th>Tip amount</th>
      <th>Extra</th>
      <th>Mta tax</th>
      <th>Ratecodeid</th>
      <th>Tolls amount</th>
      <th>Total amount</th>
      <th>Fare amount</th>
      <th>Improvement surcharge</th>
      <th>Payment type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fares.each do |fare| %>
      <tr>
        <td><%= fare['RECORDID'] %></td>
        <td><%= fare['TIP_AMOUNT'] %></td>
        <td><%= fare['EXTRA'] %></td>
        <td><%= fare['MTA_TAX'] %></td>
        <td><%= fare['RATE_CODE'] %></td>
        <td><%= fare['TOLLS_AMOUNT'] %></td>
        <td><%= fare['TOTAL_AMOUNT'] %></td>
        <td><%= fare['FARE_AMOUNT'] %></td>
        <td><%= fare['IMP_SURCHARGE'] %></td>
        <td><%= fare['PAYMENT_TYPE'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fare', new_fare_path %>
