<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recordid %>
    <%= form.number_field :recordid, id: :trip_recordid %>
  </div>

  <div class="field">
    <%= form.label :vendorid %>
    <%= form.number_field :vendorid, id: :trip_vendorid %>
  </div>

  <div class="field">
    <%= form.label :pickup_datetime %>
    <%= form.datetime_select :pickup_datetime, id: :trip_pickup_datetime %>
  </div>

  <div class="field">
    <%= form.label :dropoff_datetime %>
    <%= form.datetime_select :dropoff_datetime, id: :trip_dropoff_datetime %>
  </div>

  <div class="field">
    <%= form.label :passenger_count %>
    <%= form.number_field :passenger_count, id: :trip_passenger_count %>
  </div>

  <div class="field">
    <%= form.label :trip_distance %>
    <%= form.text_field :trip_distance, id: :trip_trip_distance %>
  </div>

  <div class="field">
    <%= form.label :store_and_fwd_flag %>
    <%= form.text_field :store_and_fwd_flag, id: :trip_store_and_fwd_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
